<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iusto odio libero, id reiciendis eveniet laborum ducimus ex debitis fugit doloribus quae quo voluptate deleniti sunt ipsa! Temporibus, beatae corporis?</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia in eum consectetur dolore neque, odit error deserunt, tempore dolorem eaque minima quasi sunt sed deleniti vitae! Nemo veritatis optio eligendi, nostrum tempora quaerat error voluptatum ad amet nulla.</p>
<form action="">
    <input type="text" name="" id="">
    <br>
    <input type="email" name="" id="">
    <br>
    <input type="datetime" name="" id="">
    <br>
    <input type="button" value="submit">
    <br>
</form>
<br>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci vero praesentium laboriosam a sequi omnis temporibus. Earum facere placeat ipsa maxime voluptas quas similique! Illo provident, nisi, voluptate quos laudantium non corporis hic ipsum ipsam dolorem est quia.
</body>
</html>